.bundle/cache
.composer/vendor
.composer/cache
.composer/composer.lock
.composer/.htaccess
.composer/auth.json
.config/coc/extensions
.config/coc/memos.json
.config/coc/mru
.config/configstore/update-notifier-@docusaurus/core.json
.config/Hyper/.hyper_plugins/cache
.config/Hyper/.hyper_plugins/node_modules
.config/nvim/plugged
.config/nvim/cache/
.config/nvim/site/autoload/plug.vim
.config/nvim/undodir
!.config/nvim/undodir/.gitkeep
.config/thefuck/__pycache__/
.config/gh/hosts.yml
.config/gh/pat.txt
.config/github-copilot/versions.json
.config/raycast/extensions/
tags
stdin.info
.vim/old
.vim/autoload
.vim/!autoload/.gitkeep
.vim/log
.vim/!log/.gitkeep
.vim/colors
.vim/!colors/.gitkeep
.vim/bundle
.vim/!bundle/gitkeep
.vim/dict/ruby.dict
.vim/cache
.vim/!cache/.gitkeep
.vim/undodir
.vim/!undodir/.gitkeep
.vim/sessions/default.vim
.zsh/completions_local/
!.zsh/completions_local/.gitkeep
.zsh/.zshrc.personal
.zsh//hisoty/
.zsh/.zshrc.default
.zsh/personal.zsh
# fish
.config/fish/fish_variables
.config/fish/functions/__*
.config/fish/functions/peco_select_history.fish
.config/fish/functions/peco_kill.fish
.config/fish/conf.d/ghq_key_bindings.fish
.config/fish/conf.d/z.fish
.config/fish/conf.d/done.fish
.config/fish/completions/ghq.fish
.config/fish/completions/rustup.fish
.config/fish/functions/expand-word.fish
.config/fish/functions/expand:choose-next.fish
.config/fish/functions/expand:execute.fish
.config/fish/functions/expand:match.fish
.config/fish/functions/expand:revert.fish
.config/fish/completions/expand-word.fish
## PatrickF1/fzf.fish
.config/fish/conf.d/fzf.fish
.config/fish/completions/fzf_*
.config/fish/functions/_fzf_*
.config/fish/functions/fzf_*
