.bundle/cache
.composer/vendor
.composer/cache
.composer/composer.lock
.composer/.htaccess
.composer/auth.json
.config/nvim/plugged
.config/nvim/cache/
.config/nvim/site/autoload/plug.vim
.config/nvim/undodir
!.config/nvim/undodir/.gitkeep
.config/thefuck/__pycache__/
.config/gh/hosts.yml
tags
stdin.info
.vim/sessions/default.vim
