[user]
	name = Yuta Mizui
	email = me@mziyut.com
[push]
	default = simple
[core]
	excludesfile = ~/.gitignore
	editor = nvim
	pager = lv -c
	autocrlf = input
[color]
	ui = auto
[alias]
	co = checkout
	cop = !"git branch --all | tr -d '* ' | grep -v -e '->' | peco | sed -e 's+remotes/[^/]*/++g' | xargs git checkout"
	ci = commit
	st = status
	dm = diff master
	dw = diff --color-words
	dc = diff --cached
	ds = diff --staged
	d1 = diff HEAD~
	d2 = diff HEAD~~
	d3 = diff HEAD~~~
	d4 = diff HEAD~~~~
	d5 = diff HEAD~~~~~
	d10 = diff HEAD~~~~~~~~~~
	delete-merged-branches = !git branch --merged | grep -vE '^\\*|master$|develop$' | xargs -I % git branch -d %
	ignore = "!gi() { curl -L -s https://www.gitignore.io/api/$@ ;}; gi"
[url "git@github.com:"]
	insteadOf = https://github.com/
[url "git@bitbucket.org:"]
	insteadOf = https://bitbucket.org/
[url "git@gitlab.com:"]
	insteadOf = https://gitlab.com/
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
