# Personal zshrc Setting
.zshrc.personal
/hisoty/
.zshrc.default
personal.zsh

#################################################

# Mac OS X
.DS_Store
.AppleDouble
.LSOverride
Icon
._*
.Spotlight-V100
.Trashes

# Linux
*~
.directory

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/

# Emacs
*~
\#*\#
/.emacs.desktop
/.emacs.desktop.lock
.elc
auto-save-list
tramp
.\#*
.org-id-locations
*_archive

# Vim
.*.sw[a-z]
*.un~
Session.vim
.netrwhist
